services:
  emacs-latex:
    image: ghcr.io/rjbaw/emacs-latex-gpu:latest
    container_name: emacs-latex-gpu
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - DUID=$DUID
        - DGID=$DGID
        - DUSER=$DUSER
        - DGROUP=$DGROUP
    environment:
      - DISPLAY=$DISPLAY
      - QT_X11_NO_MITSHM=1
    volumes:
      - /dev/shm:/dev/shm 
      - /etc/localtime:/etc/localtime:ro 
      
      - /run/udev/:/run/udev:ro 
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro 

      - /tmp/.X11-unix:/tmp/.X11-unix:rw 
      - $HOME/.Xauthority:/workspace/.Xauthority:rw
      - $HOME/:/workspace/home 
      - ${EXT_VOL:-/dev/null}:/workspace/ext
    ulimits:
      core: 0
    tty: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    network_mode: "host"
